.mainBlock,
.infoBlock {
  display: flex;
  flex-direction: column;
}

.mainBlock {
  align-items: center;
  max-width: 450px;
  width: 95%;
  margin: 50px auto;
  border: 1px solid #dad0e1;
  border-radius: 15px;
  box-shadow: 0 1px 15px 0 rgb(51 51 51 / 20%);
}

.mainBlock span {
  font-size: larger;
  font-weight: 500;
}

.infoBlock {
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.infoBlock a {
  text-decoration: none;
  font-size: 18px;
  padding: 5px 8px;
  border-radius: 10px;
  color: white;
  background-color: #2449c5;
}

.loginData {
  margin-top: 10px;
  border: 1px solid #2449c5;
  border-radius: 12px;
}

.loginData p {
  margin: 10px;
}

.loginForm {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.loginForm label {
  justify-content: center;
}

.superInput {
  width: 60%;
  height: 20px;
  background: #dce1f6;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  border: none;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
}

.superButton {
  width: 60%;
  height: 40px;
  display: block;
  color: #fff;
  background: #2449c5;
  font-size: 1em;
  font-weight: bold;
  margin: 10px auto 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.superButton:hover,
.infoBlock a:hover {
  background: #3d65ef;
}

.blockInfoError {
  height: 70px;
}

.errorMessage {
  color: #ce0f0f;
  font-weight: bold;
  text-align: center;
}